<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="store.css">
    <title>Produtos</title>
</head>
<body class="conteudo">
    <header class="cabecalho">
        <img class="logo" src="/assets/logo.png" alt="logo" width="120px">
        <input type="checkbox" id="menu" class="container__botao">
        <label for="menu">
        <img  class="hamburguer" style="width:50px" src="/assets/menuhamburguer.png" alt="hamburguer">
        </label>
        <ul class="cabecalho__menu">
            <li class="cabecalho__links"><a class="cabecalho__menu__links" href="/">HOME</a></li>
            <a href="public/assets/carro.pdf" class="cabecalho__menu__links" download>DOWNLOAD CATÁLOGO</a>
            <li class="cabecalho__links"><a class="cabecalho__menu__links" href="cadastro">CADASTRO</a></li>
        </ul>
        <div class="barra__pesquisa">
            <form action="/info" method="get">
              <div class="input-group">
                <input type="text" name="searchTerm" id="textBusca" placeholder="Buscar...">
                <button type="submit" class="btn" style="background-image: url('/assets/researchicon.png');"></button>
              </div>
            </form>
          </div>
    </header>
   
    <main>
      <section style="height: 200px;"></section>
    
      <h1>Resultado da busca</h1>
      <section style="height: 50px;"></section>
      <% if (carros.length > 0) { %>
        <ul class="carros-list">
          <% carros.forEach((carro) => { %>
            <li class="carro-item">
              <% if (carro.imagemBase64) { %>
                <img class="img-carro" src="data:image/jpeg;base64,<%= carro.imagemBase64 %>" alt="<%= carro.nome %>">
              <% } else { %>
                <p>Imagem não disponível</p>
              <% } %>
              <div class="nome">
                <a href="/carros/<%= carro.nome %>" class="nome__carro"><%= carro.nome %></a>
              </div>
              <p class="marca">Marca: <%= carro.marca %></p>
              <p class="preco">Preço: <%= carro.preco %></p>
            </li>
          <% }); %>
        </ul>
      <% } else { %>
        <p>Nenhum carro encontrado.</p>
      <% } %>
    </main>
    
</body>
</html>
<script>
    let prevScrollpos = window.pageYOffset;

window.onscroll = function() {
  const currentScrollPos = window.pageYOffset;
  
  if (prevScrollpos > currentScrollPos) {
    document.querySelector('.cabecalho').classList.remove('hidden');
  } else {
    document.querySelector('.cabecalho').classList.add('hidden');
  }
  if (prevScrollpos > currentScrollPos) {
    document.querySelector('.cabecalho__menu').classList.remove('hidden');
  } else {
    document.querySelector('.cabecalho__menu').classList.add('hidden');
  }
  
  prevScrollpos = currentScrollPos;
}
</script>